.gitignore
GENE360-PopDiv.Rproj
GENE360-popDiv_files
GENE360-popDiv_cache
GENE360_1000_genomes_lecture.pdf
GENE360_1000_genomes_lecture.pptx
GENE360-popDiv.pdf
GENE360_1000_genomes_code.pdf
printing_notes.txt
.Rhistory
GENE360-popDiv-check.R
.Rproj.user
GENE360-popDiv-SOLUTION.R
GENE360_1000_genomes.zip
GENE360_1000_genomes
