.gitignore
GENE360-PopDiv.Rproj
GENE360-popDiv_files
GENE360-popDiv_cache
GENE360_1000_genomes_lecture.pdf
GENE360_1000_genomes_lecture.pptx
GENE360-R_setup.pdf
GENE360-popDiv.pdf
GENE360_1000_genomes_code.pdf
printing_notes.txt
.Rhistory
GENE360-popDiv-check.R
.Rproj.user
GENE360-popDiv-SOLUTION*
GENE360_1000_genomes.zip
GENE360_1000_genomes
GENE360-popDiv.R
GENE360_1000_genomes_lecture_2021.pdf
GENE360_1000_genomes_lecture_2021.pptx
GENE360_1000_genomes_lecture_2022.pdf
GENE360_1000_genomes_lecture_2022.pptx
GENE360_1000_genomes_lecture_2023.pdf
GENE360_1000_genomes_lecture_2023.pptx
GENE360snpData-old.txt
drop_snps.R
.DS_Store
